@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Background {
  overflow: hidden;
  z-index: -10;
}

.deskgl-herowrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width:100%;
  height:100%;
  margin: 0;
}

.deskgl-hero{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6em;
  width:45%;
  height:25%;
  margin: 0;

  color: white;
}

.deskgl-title{
  font-weight: 500;
  font-size: 5em;
  font-family: 'Inter', sans-serif;
  margin:0;
}

.deskgl-desc{
  margin: 0.1em;
  font-weight: 300;
  font-size: 2em;
  font-family: 'Inter', sans-serif;
} 

.deskgl-button{
  padding: 1em 2em;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 10px;
  color: white;
}
.deskgl-button:hover{
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .deskgl-herowrapper{
    align-items: flex-start;
  }
  .deskgl-hero{
    align-items: center;
    justify-content: center;
    
    width:100%;
    height:75%;
    margin: 0;
    
    color: white;
  }

  .deskgl-title{
    font-size: 3em;
  }
  
  .deskgl-desc{
    font-size: 1em;
  } 
}
